@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
html ,body{
    font-family: 'Kanit', sans-serif!important;
    font-weight: 200!important;
}